@model BankApp.ViewModels.OverviewViewModel

<table>
    <tr>
        <th>Total balance:</th>
        <td>@Model.TotalBalance</td>
    </tr>
    <tr>
        <th>Number of accounts:</th>
        <td>@Model.NumberOfAccounts</td>
    </tr>
</table>